body {
  margin: 0;
  padding: 0;
  background-image: url(../images/website.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #121315;
  
}
  
header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}

.wrap{
  overflow: hidden;
  background-color: #2cddd45b;
}

  
  .logo111 {
   margin-left: 5%;
  }

  .hide{
    display: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -8%;
  }
  
  nav li {
    margin-right: 35px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    padding: 5px;
  }
  
  .button {
    background-color: #16bbb3;
    color: #000000; 
    /* border: 1px solid #000;  */
    padding: 8px 15px;
    border-radius: 5px;
  }

  .button1 {
    display: none;

    
  }

  section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  section h1 {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  section p {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff; 
    line-height: 30px;
  }
  .continue-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #16bbb3;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .blue-box {
    width: 100%;
    height: 250px;
    background-color: #66b3ff; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 50px #fff; 
    margin: 20px 0; 
    overflow: hidden;
  }
  .slider-container {
    width: 70%; 
    height: 150px;
    margin: 50px auto; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 50px #fff;
  }
  
  .slider {
  display: flex;
  width: 100%;
  animation: slide 30s linear infinite; 
}

.slider img {
  width: 100%; 
  margin: 0;
  padding: 0;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.black-section {
    width: 90%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-left: 3.5%;
    border-radius: 40px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .image-container img {
    width: 80px;
    height: 20px;
    margin-right: 10px;
  }
  
  .centered-links {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .centered-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    text-align: center;
  }
  
  .section-heading {
    margin-left: 90px;
    text-align: left;
    font-size: 30px;

  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .grid-item {
    flex-basis: 250px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .grid-item h3 {
    margin: 10px 0;
  }


  
  
  
  .container {
    max-width: 800px;
    text-align: center;
    color: #fff;
  }
  
  header {
    margin-bottom: 30px;
  }
  
  .need{
   font-size: 40px;
   color: white;
  }

  .big-heading {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
  }
  
  .small-paragraph {
    width: 60%;
    margin-left: 20%;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .white-box {
    background-color: #000000;
    width: 60%;
    opacity: 70%;
    border-radius: 15px;
    padding: 20px;
    margin-left: 18.5%;
    
   
  }
  
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .grid-item1 {
    /* background-color: #f1f1f1; */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  
  .grid-item1 h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
  }
  
  .grid-item1 p {
    font-size: 18px;
    color: #ffffff;
  }


  .main-heading2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .small-paragraph2 {
    font-size: 24px;
    line-height: 45px;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
  }

  .grid-container2 {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    margin-top: 40px;
  }
  
  .grid-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .grid-item2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .grid-item2 h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .grid-item2 p {
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .grid-item2:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .grid-item2:hover p {
    color: #000000;
  }


  .main-heading4 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }

  .image-grid4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  
  .image-grid4 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
  }

  .image-grid4 img:hover {
    transform: scale(1.1); 
  }







  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
  }
  
  .left-section p {
    font-size: 20px;
    margin-left: 30%;
    color: #ffffff;
  }
  
  .center-section {
    text-align: center;
    margin-top: -2%;
  }

  .center-section p {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  
  .right-section {
    flex: 1;
    text-align: right;
  }
  
  .rectangle-div {
    background: transparent;
    padding: 30px;
    border-radius: 5px;
    margin-right: 20%;
  }
  
  .rectangle-div img {
    max-width: 80%;
  }

  .copyright {
    position: absolute;
    color: #ffffff;
    margin-left: 37%;
    margin-bottom: -11%;
  }






  /* Styles for tablets */

  @media (min-width: 600px) and (max-width: 1024px) {

    body {
      background-image: url(../images/websitecopy.jpg);
    }
    .button1 {
      display: none;
    }
    .copyright {
      margin-bottom: -16%;
      margin-left: 31%;
    }
    .rectangle-div {
      margin-left: 20%;
    }
    .left-section p {
      margin-left: 20%;
    }
    .white-box {
      width: 70%;
      margin-left: 12%;
    }
    .footer {
      background-color: #122a26;
    }
  }




  @media screen and (max-width: 600px) {
    
   nav ul{
      display: none;
    }
    .button1 {
      display: block;
      background-color: #16bbb3;
      color: #ffffff; 
      margin-right: -25%;
      padding: 8px 15px;
      border-radius: 5px;
     
      
    }
    .button1 a{
      text-decoration: none;
      color: white;
    }
    body {
      background-image: url(../images/websitecopy11.jpg);
    }

    .logo111 {
      width: 30%;
    }

    .slider-container {
      width: 70%; 
      height: 30%;
      margin: 50px auto; 
      overflow: hidden; 
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 50px #fff;
    }

      .blue-box {
    width: 100%;
    height: 30%;
    background-color: #66b3ff; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 50px #fff; 
    margin: 20px 0; 
    overflow: hidden;
    }

     
  .grid-container1 {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .grid-item1 {
    /* background-color: #f1f1f1; */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  
  .grid-item1 h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
  }
  
  .grid-item1 p {
    font-size: 18px;
    color: #ffffff;
  }



  .grid-container2 {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 40px;
  }
  
  .grid-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .grid-item2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .grid-item2 h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .grid-item2 p {
    font-size: 16px;
    color: #666;
    cursor: pointer;
    transition: color 0.3s;
  }


  .image-grid4 {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
  }
  
  .image-grid4 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
  }


  .copyright {
    margin-bottom: -25%;
    margin-left: 29%;
    font-size: 10px;
  }
  .rectangle-div {
    margin-left: 10%;
    width: 60%;
  }
  .left-section p {
    margin-left: 20%;
    font-size: 14px;
  }
  .center-section p {
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
  }
  .footer {
    background-color: #241539;
  }
  }